*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


ESP32/build/
ESP32/managed_components/
ESP32/dependencies.lock
ESP32/sdkconfig
ESP32/main/wifi_settings.h
ESP32/.venv/
ESP32/__pycache__/
ESP32/components/

# Linux
Linux/build/
Linux/*_autogen/
Linux/CMakeCache.txt
Linux/CMakeFiles/
Linux/Makefile
Linux/cmake_install.cmake
Linux/compile_commands.json
